p.countdown span {
letter-spacing:1em;	
padding:0px 5px 0px 12px;}

.thumbs {display:none;
	}
	
	#main-content  {margin-top:40px;min-height:800px;}

.coda-slider-wrapper { margin-top:25px; }

h1.logo a { margin-top:-20px;}
#header-top {height:70px;}

.thumbs {width:980px;}
.thumbs {margin:0px auto 0px auto;}

p.teaser {padding:0 290px 0 0;}

#profiles .ui-tabs .ui-tabs-panel {
width:470px;
}