/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    #rotate .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    #rotate .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
#rotate  .ui-tabs-nav, #rotate .ui-tabs-panel {
	
    
}
#rotate  .ui-tabs-nav {position: relative;

}

html>body #rotate  .ui-tabs-nav {*width:auto;}


#rotate  .ui-tabs-nav {position: relative;
list-style: none;
width:980px;
margin:300px auto 0px auto;
padding: 5px 0 5px 6px;
}
#rotate  .ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
display: block;
clear: both;
content: " ";
}
#rotate  .ui-tabs-nav li {
float: left;
margin: 0 4px 0 1px;
width:146px;
padding-left:0px;
height:85px;
}

html>body #rotate  .ui-tabs-nav li {*float:none;}
html>body #rotate  .ui-tabs-nav li {*width:auto;}
html>body #rotate  .ui-tabs-nav li {*height:auto;}


#rotate .ui-tabs-nav li a {height:50px;
	width:100px;
	font: italic 14px/14px 'Molengo', arial, serif; 
	padding-top:15px;}
	
	
#rotate .ui-tabs-nav li#menu2 a {
padding-left:45px;
background:url(../images/numbers.png) no-repeat -220px -90px;
}
#rotate .ui-tabs-nav li#menu2.ui-tabs-selected a   {
background:url(../images/numbers.png) no-repeat -220px -13px;}


#rotate .ui-tabs-nav li#menu1 a{
padding-left:42px;
background:url(../images/numbers.png) no-repeat -60px -90px;
}

#rotate .ui-tabs-nav li#menu1.ui-tabs-selected a   {
background:url(../images/numbers.png) no-repeat -60px -13px;}


#rotate .ui-tabs-nav li#menu3.ui-tabs-selected a   {
background:url(../images/numbers.png) no-repeat -380px -13px;}

#rotate .ui-tabs-nav li#menu3 a {
padding-left:45px;
background:url(../images/numbers.png) no-repeat -380px -90px;
}

#rotate .ui-tabs-nav li#menu4.ui-tabs-selected a {background:url(../images/numbers.png) no-repeat -540px -13px;}
#rotate .ui-tabs-nav li#menu4 a {padding-left:50px;
background:url(../images/numbers.png) no-repeat -540px -90px;}

#rotate .ui-tabs-nav li#menu5.ui-tabs-selected a {background:url(../images/numbers.png) no-repeat -690px -13px;}
#rotate .ui-tabs-nav li#menu5 a {padding-left:55px;
background:url(../images/numbers.png) no-repeat -690px -90px;}


#rotate .ui-tabs-nav a, #rotate .ui-tabs-nav a span {
margin-top:-5px;
display: block;
padding: 10px 0px;
background: url(tab.png) no-repeat;
}

#rotate .ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    /*white-space: nowrap; *//* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
#rotate .ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color:#F7D5AD;
	background:url(../images/selected.png) no-repeat -10px -2px;
}
#rotate .ui-tabs-nav a span {
    width: 20px; /* IE 6 treats width as min-width */
    min-width: 20px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}

/**>.ui-tabs-nav a span {
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { 
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { 
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {

    padding: 0px;
		background:url(images/right-feature.png) no-repeat 400px 0px;
  
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}


* html .ui-tabs-nav { 
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { 
    display: inline-block;
}
*/
