// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

// Media Query Ranges
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

// Grid
 $row-width: rem-calc(1200);
 $column-gutter: 0;
// $total-columns: 12;

// Default Colors
$body-bg: #333;
$body-font-color: white;
$topbar-height: 35px;
$secondary-color: #B4F82E;
$primary-color: #DB7208;

// Background color for the top bar
 $topbar-bg-color: #333;
// $topbar-bg: $topbar-bg-color;

// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;