@import "settings";
@import "../bower_components/foundation/scss/foundation";


.StreamEmbedPage {
	overflow: hidden;
}

.title-area .name img {
	height: 30px;
}

.top-bar .name h1 a {
	width: auto;
}
.stream {
	overflow: hidden;
}


#stream-container_wrapper {
	width: 100% !important;
	height: 360px !important;
	@media #{$medium-up}{ 
		height: 576px !important;
	}
	@media #{$large-up}{ 
		height: 720px !important;
	}
	@media #{$xlarge-up}{ 
		height: 1080px !important;
	}
}


.twitter iframe{
	width: 100% !important;
	padding: 0.5em;

	@media #{$medium-up}{ 
		height: 576px !important;
	}
	@media #{$large-up}{ 
		height: 720px !important;
	}
	@media #{$xlarge-up}{ 
		height: 810px !important;
	}
	@media #{$xxlarge-up}{ 
		height: 1080px !important;
	}

	@media all and (min-width: 2200px) {

	}

}

.mfp-iframe {
	overflow: hidden;
}

.live:before{
	  content: "";
	  position: absolute;
		width: 7px;
		height: 7px;
		background: $secondary-color;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		margin-top: 14px;
		margin-left: -12px;
}