.shoplist {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item {
		background-color: #fff;
		border: 1px solid #eee;
		border-radius: 2px;
		padding: 10px;
		margin-bottom: 2em;
		text-align: center;
		width: 100%;
		position: relative;
		&--link {
			padding-bottom: 58px;
		}
		@media screen and (min-width: $break-medium) {
			width: 48%;
		}
		@media screen and (min-width: $break-large) {
			width: 24%;
		}
	}
	&__img {
		width: 100%;
	}
	&__title {

	}
	&__price {
		font-size: 16px;
	}
	&__btn {
		font-size: 16px;
		color: $lime;
		display: block;
		background-color: #111;
		border-radius: 3px;
		margin: 0;
		padding: 9px 18px;
		font-weight: bold;
		box-shadow: 0 4px #ddd;
		position: relative;
		-ms-transition: .15s ease-in-out;
		-moz-transition: .15s ease-in-out;
		-webkit-transition: .15s ease-in-out;
		transition: .15s ease-in-out;
		position: absolute;
		width: 92%;
		bottom: 15px;
		left: 4%;
		&:hover, &:focus {
			color: $lime;
			background-color: darken( #111, 5% );
			box-shadow: 0 2px #ddd;
			-webkit-transform: translateY(2px);
			-moz-transform: translateY(2px);
			-ms-transform: translateY(2px);
			-o-transform: translateY(2px);
			transform: translateY(2px);
		}
	}
}