.header {
	background: #000;
	padding: 15px 0;
}
/* logo */
.logo {
	float: left;
	@media (min-width: $break-medium) {
		display: block;
	}
}
.logo img {
	width: 60%;
	@media (min-width: $break-small) {
		width: 80%;
	}
	@media (min-width: $break-medium) {
		width: auto;
	}
}
.top-nav {
	display: none;
	@media (min-width: $break-medium) {
		display: block;
		margin-top: 15px;
		float: right;
	}
}
.top-register, .top-login {
	color: #eee;
	display: block;
	font-size: 16px;
	float: left;
	margin-right: 20px;
	line-height: 50px;
	font-weight: bold;
	&:hover, &:focus {
		color: #eee;
		text-decoration: underline;
	}
	@media (min-width: $break-xlarge) {
		margin-right: 30px;
	}
}
.top-donate {
	font-size: 20px;
	color: #333;
	display: block;
	float: left;
	background-color: $lime;
	border-radius: 3px;
	padding: 9px 18px;
	font-weight: bold;
	box-shadow: 0 4px #6d8e09;
	position: relative;
	-ms-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	&:hover, &:focus {
		color: #333;
		background-color: darken( $lime, 5% );
		box-shadow: 0 2px #6d8e09;
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
}



/* ---------------------------------------------------------------
Search Form new
--------------------------------------------------------------- */
.search-bar fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.search-bar #Search {
	float: right;
	position: relative;
}
/* submit button */
.search-bar .action {
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}
.search-bar .middleColumn {
	position: relative;
	z-index: 5;
}
.search-bar #Search .text {
	background: rgba(0,0,0,0);
	box-shadow: none;
	border: none;
	color: #333;
	display: inline-block;
	font-size: 13px;
	font-family: arial, verdana, sans-serif;
	height: auto;
	line-height: normal;
	padding: 10px 10px 10px 40px;
	position: relative;
	vertical-align: middle;
	width: 95px;
	margin-bottom: 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: width 0.2s ease, background-color 0.2s ease;
	-moz-transition: width 0.2s ease, background-color 0.2s ease;
	transition: width 0.2s ease, background-color 0.2s ease;
	cursor: pointer;
	&:focus {
		background-color: rgba(0,0,0,.4);
		color: #fff;
		width: 180px;
		outline: none;
		cursor: inherit;
	}
}
.search-bar #Search:after {
	background: url('../images/magnifier-icon.png') top right no-repeat;
	content: "";
	position: absolute;
	top: 8px;
	left: 10px;
	height: 20px;
	width: 20px;
	z-index: 10;
}
/* styling placeholder text color */
::-webkit-input-placeholder {color: #333;}
:-moz-placeholder { /* Firefox 18- */color: #333;}
::-moz-placeholder {  /* Firefox 19+ */color: #333;}
:-ms-input-placeholder {color: #333;}
#Search .text:focus::-webkit-input-placeholder {color: #fff;}
#Search .text:focus:-moz-placeholder {color: #fff;}
#Search .text:focus::-moz-placeholder {color: #fff;}
#Search .text:focus:-ms-input-placeholder {color: #fff;}

/* Mobile styles */
.shifter-open .search-bar {
	margin: 2em 0 1.5em;
}
.shifter-open .search-bar #Search {
	float: none;
}
.shifter-open .search-bar #Search .text {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
	&:focus {
		background-color: rgba(0,0,0,.4);
		border-color: #888;
	}
}
.shifter-open .search-bar #Search .text:focus {

}
