.HomePage {
	background-color: #fff;
}

/* ---------------------------------------------------------------
Videos
--------------------------------------------------------------- */
.video-wrapper {
	position: relative;
	margin: 3em 0;
	padding: 3.5em 0;
	padding-bottom: 1em;
	text-align: center;
}
.video-wrapper .video {
	text-align: left;
}
.gradient-top {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -3.5em;
}
.gradient-bottom {
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: -2.5em;
}
.video-desc {
	font-size: 16px;
	margin-bottom: 0;
	& strong {

	}
}
.video-img {
	display: block;
	& img {
		display: block;
		width: 100%;
	}
}
.watchall {
	display: block;
	margin-top: 2.5em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .05em;
	& span {
		color: #e12c28;
		font-size: 18px;
  		padding-right: 5px;
  		vertical-align: text-bottom;
	}
}


/* ---------------------------------------------------------------
Testimonials
--------------------------------------------------------------- */
.testimonial-wrapper {
	margin: 4em 0;
}
.testimonials {
	text-align: center;
	margin: 0 auto 60px auto;
	width: 75%;
}
.testimonials:before {
	content:'\201C';
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 100px;
	line-height: 1;
	position: absolute;
	left: -12%;
	top: 0;
	color: #84ba11;
}
.testimonials:after {
	content:'\201D';
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 100px;
	line-height: 1;
	position: absolute;
	right: -12%;
	top: 0;
	color: #84ba11;
}
.testimonials .quote {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	font-size: 22px;
	line-height: 1.7;
	margin: 0;
}
.testimonials .cite {
	font-size: 16px;
	display: block;
	margin-top: 3em;
}
.flex-control-nav {
  bottom: -75px;;
}
.flex-control-paging li a {
  width: 14px;
  height: 14px;
  background: #e0e9c5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.flex-control-paging li a.flex-active {
  background: #84ba11;
}
.flex-control-paging li a:hover {
  background: #bbd780;
}

/* ---------------------------------------------------------------
How It Works
--------------------------------------------------------------- */
.howitworks {
	background: url(../images/howitworks.gif);
	padding: 65px 0 100px;
	position: relative;
	box-shadow: inset 0 5px rgba(0,0,0,.05);
}
.howitworks .dancers {
	position: absolute;
	background: url(../images/dancers.png) no-repeat;
	height: 400px;
	width: 403px;
	top: -190px;
	right: 0;
}
.howitworks .balloon {
	background: #fff url(../images/balloon.gif) no-repeat center center;
	position: absolute;
	width: 68px;
	height: 68px;
	top: -29px;
	left: 50%;
	margin-left: -29px;
	background-color: #fff;
	border: 5px solid #84ba11;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
	border-radius: 50%;
}
.howitworks h2 {
	color: #fff;
	text-transform: uppercase;
	font-family: $body-font;
	font-size: 34px;
	text-align: center;
	letter-spacing: 1px;
	margin: 0 0 35px 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.howitworks .step {
	float: left;
	width: 33%;
	padding: 0 20px;
}
.howitworks h3 {
	color: #fff;
	font-family: $body-font;
	font-size: 24px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.howitworks p {
	color: #edf4de;
	font-size: 15px;
	line-height: 1.5;
	margin: 0 0 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.howitworks .btn {
	color: #485c1c;
	font-size: 14px;
	background-color: #d3e6aa;
	box-shadow: 0 4px #68a40b;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 16px;
	display: inline-block;
	letter-spacing: 1px;
	border-radius: 3px;
	-ms-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	&:hover, &:focus {
		color: #485c1c;
		box-shadow: 0 2px #68a40b;
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
}